RewriteEngine on
      RewriteRule ^([30-200]+)/([0-200]+)$ product.php?id=$1&da=$2 [QSA]
      RewriteRule ^abc product.php?id=5
      RewriteRule ^([A-Za-z0-9]*)$ index.php?page=$1

Options -Indexes

<Files "config.php">
Order Deny,Allow
Deny from all
</Files>